html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 81px;
  background-color: #f5f5f5;
  background-color: rgba(255,255,255,0.25);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height 0.6s ease-out;
  -moz-transition: height 0.6s ease-out;
  -ms-transition: height 0.6s ease-out;
  -o-transition: height 0.6s ease-out;
  transition: height 0.6s ease-out;
}

#footer:hover {
  height: 100px;
}

#footer .btn-lg {
  margin : 10px 0;
  padding: 18px 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#footer:hover .btn-lg {
  padding: 28px 0;
}

#wrap > .center-container {
  padding: 0;
  margin:0;
}

#footer > .container {
  padding-top:5px
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  height:100%;
}

/*.center-row {
  height:100%;
  background-image:url('../img/picjumbo.com_IMG_9895_1024_mini.jpg');
  background-size:cover;
  color:#fff;
}*/
.top-header {
	background: #f5f5f5;
}

.survey-question {
	background: #eecbcc;
}
.survey-question input {
	background: #fff;
	border: 3px solid #DFB0B2;
	font-size: 2.8em;
	width: 100%;
	margin: .5em auto;
	padding: .2em .4em;
	font-weight: 300;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


h1.brand {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	background: url('../img/databuzz-logo-grey.png') no-repeat center center;
	text-indent: -9999px;
	height: 68px;
	float: left;
	width: 320px;
}

p.lead {
	font-size: 2.1em;
	text-align: center;
	color: #ccc;
	font-weight: 300;
	display: inline-block;
	padding-top: 49px;
	float: left;
	margin-left: .85em;
}
p.lead a {
	color:#95B3CF;
}

.middle {
  text-align: center;
  width: 50%;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

a.start {
  font-size: 3em;
  padding: 0.5em;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
}

.modal-dialog {
  width: 620px;
}

footer .credits {
	text-align: center;
}

@media screen and (max-width: 1024px){
  p.lead {
    font-size: 3em;
  }
  a.start {
    font-size: 2em;
  }
}